.todo-div {
    align-items: center;
    display: flex;
    background: rgb(224, 178, 178);
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    font-size: 21px;
    margin : 1% 1%;
    padding: 3px 10px;
}
.todo-div:hover{
    background: linear-gradient(90.41deg, #d0d7d8 1.14%, #beb4da 100%);
    cursor: pointer;
}
.a-div{
    text-align: right ;
}
li{
    margin-right: 1%;
}

